<hr>
<footer style="background-color: rgb(102,102,102); width: 100%;">
	<br>
	<h3 style="color: white;">Support Us:
		<p style="color: white;font-size: 0.8em;">This website is updated with the help of the fellow students. If you want us to update our site regularly with free books, question papers and notes help us collecting it for the entire university. Join our whatsapp group and share files there.<br><br><img src="/imcss/Join-Us.png" width="135px" height="60px" ></p></h3>
    <h4 style="text-align: center;color: white; font-size: 2em;">Follow Us:</h4>
	<ul style="margin-right: 40.5em;">
		<li style="padding-right: 15px; margin-top: 15px;"><img src="/imcss/facebook.png" width="20px" height="20px"></li>
		<li style="padding: 0px; margin-top: 13px;"><img src="/imcss/insta.png" width="30px" height="30px"></li>
		<li style="padding: 0px; margin-top: 15px;"><img src="/imcss/pin.png" width="32.5px" height="20px"></li>
		<li style="padding: 0px; margin-top: 15px;"><img src="/imcss/twit.png" width="20px" height="20px"></li>
		<li style="padding-left: 10px; margin-top: 15px;"><img src="/imcss/in.png" width="20px" height="20px"></li>    
	</ul>
	<h5 style="color: white;text-align: center; font-size: 1em;"> <a href="#"> Copyright  </a> || <a href="#">  Disclaimer </a></h5>
</footer>
<script src="/imcss/bookst.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
</body>
</html>