<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/imcss/nsut_logo.png" />
	<title>NSUT-HUB</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/imcss/style.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">NSUT-HUB</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right ">
      <a href="/aboutus" class="w3-bar-item w3-button">About Us</a>
      <a href="/joinus" class="w3-bar-item w3-button">Join Us</a>
      <a href="/" class="w3-bar-item w3-button">Downloads</a>
      <a href="/signup" class="w3-bar-item w3-button">Sign Up</a>
      <a href="/signin" class="w3-bar-item w3-button">Sign In</a>
    </div>
  </div>
</div>
<br><br>











